body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px; /* Tamanho de fonte base para mobile */
    background-image: url('https://raw.githubusercontent.com/devlodi/amigo_secreto_familia/main/family.jpg');
    background-size: cover; /* Redimensiona a imagem para cobrir todo o fundo */
    background-blur: 5px; /* Aplica um desfoque de 5px à imagem (ajuste conforme desejado) */
    background-color: rgba(0, 0, 0, 0.7); /* Define uma cor de fundo preto com 50% de opacidade por trás da imagem */
    background-blend-mode: overlay; /* Mescla a imagem com o fundo preto */
}

.main-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #333;
    margin: 20px auto; /* Margem automática nas laterais para centralizar */
    font-size: 50px; /* Tamanho da fonte */
    background-color: white; /* Cor de fundo */
    padding: 10px 20px; /* Espaço vertical e um pouco de espaço horizontal */
    display: inline-block; /* Faz com que o fundo se ajuste ao conteúdo */
    border-radius: 10px; /* Cantos arredondados */
}



h2 {
    color: #333;
    margin: 20px 0;
    font-size: 24px; /* Fonte maior para títulos em mobile */
    background-color: white; /* Cor de fundo */
    padding: 10px 20px; /* Espaço vertical e um pouco de espaço horizontal */
    display: inline-block; /* Faz com que o fundo se ajuste ao conteúdo */
    border-radius: 10px; /* Cantos arredondados */
}

.input-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.success-message {
    color: #28a745; /* Cor verde para sucesso */
    background-color: #dff0d8;
    border-color: #d4edda;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    display: none; /* Inicialmente oculto */
}

.success-message.hidden {
    display: none;
}

.success-message.visible {
    display: block; /* Mostrar quando necessário */
}


input[type="text"] {
    padding: 15px;
    margin-bottom: 10px; /* Espaço entre o input e o botão */
    width: 80%; /* Largura ajustada para mobile */
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 30px; /* Fonte maior para melhor leitura */
}

button {
    padding: 15px 25px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 30px; /* Fonte maior para melhor leitura */
    width: 50%; /* Largura ajustada para mobile */
}

button:hover {
    background-color: #45a049;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    margin-top: 20px;
    border-radius: 10px;
    overflow: hidden;
}

th, td {
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid #ddd;
    font-size: calc(4vw + 4px); /* Ajuste dinâmico do tamanho da fonte com base na largura da tela */
    max-font-size: 18px; /* Define um tamanho máximo para a fonte */
}

th {
    background-color: #4CAF50;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

tr:nth-child(odd) {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #ffffff;
}

tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

@media (min-width: 600px) {
    th, td {
        font-size: calc(2vw + 8px); /* Ajuste da fonte para telas maiores, como tablets */
    }
}

@media (min-width: 1024px) {
    th, td {
        font-size: calc(1vw + 10px); /* Ajuste da fonte para telas ainda maiores, como desktops */
    }
}


@media (max-width: 600px) {
    /* Estilos para tablets e desktops */
    .input-group {
        flex-direction: row;
        align-items: flex-start;
    }

    input[type="text"] {
        margin-right: 10px;
        margin-bottom: 0; /* Remover margem inferior */
        width: calc(100% - 150px); /* Ajuste da largura */
    }

    button {
        width: auto; /* Largura padrão para botão */
    }



