body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    font-size: 16px; /* Tamanho de fonte base para mobile */
}

.main-container {
    max-width: 80%;
    margin: auto;
    padding: 20px;
    text-align: center;
}

h1, h2 {
    color: #333;
    margin: 20px 0;
    font-size: 24px; /* Fonte maior para títulos em mobile */
}

.input-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 15px;
    margin-bottom: 10px; /* Espaço entre o input e o botão */
    width: 80%; /* Largura ajustada para mobile */
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 18px; /* Fonte maior para melhor leitura */
}

button {
    padding: 15px 25px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px; /* Fonte maior para melhor leitura */
    width: 50%; /* Largura ajustada para mobile */
}

button:hover {
    background-color: #45a049;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    margin-top: 20px;
    border-radius: 10px; /* Borda arredondada para a tabela */
    overflow: hidden; /* Garante que o conteúdo interno não sobreponha as bordas arredondadas */
}

th, td {
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid #ddd;
    font-size: 18px;
}

th {
    background-color: #4CAF50; /* Cor de fundo para o cabeçalho */
    color: white;
    border-top-left-radius: 10px; /* Arredonda o canto superior esquerdo */
    border-top-right-radius: 10px; /* Arredonda o canto superior direito */
}

tr:nth-child(odd) {
    background-color: #f2f2f2; /* Cor de fundo para linhas ímpares */
}

tr:nth-child(even) {
    background-color: #ffffff; /* Cor de fundo para linhas pares */
}

tr:last-child td:first-child {
    border-bottom-left-radius: 10px; /* Arredonda o canto inferior esquerdo */
}

tr:last-child td:last-child {
    border-bottom-right-radius: 10px; /* Arredonda o canto inferior direito */
}


@media (max-width: 600px) {
    /* Estilos para tablets e desktops */
    .input-group {
        flex-direction: row;
        align-items: flex-start;
    }

    input[type="text"] {
        margin-right: 10px;
        margin-bottom: 0; /* Remover margem inferior */
        width: calc(100% - 150px); /* Ajuste da largura */
    }

    button {
        width: auto; /* Largura padrão para botão */
    }
